<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--<script src="js/jquery.min.js"></script>-->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.js"></script>
    <!--<script src="lib/angular/i18n/angular-locale_zh-cn.js"></script>-->
</head>

<body ng-app="ModalDemo" ng-controller="userController">

<script type="text/ng-template" id="modal.html">
    <div>
        <div class="modal-header">
            <h3 class="modal-title" align="center">
                标题信息
            </h3>
        </div>
        <div class="modal-body">
            <div align="center">
                模态框内容
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
                确认
            </button>
            <button class="btn btn-warning" ng-click="cancel()">
                退出
            </button>
        </div>
    </div>
</script>
<button ng-click="openModel()">打开模态框</button>
</body>
<script>
    var app = angular.module("ModalDemo", []);
    app.controller('userController', ['$scope','$modal', function ($scope,$modal) {
        $scope.openModel = function () {
            var modalInstance = $modal.open({
                templateUrl: 'modal.html',//script标签中定义的id
                controller: 'modaltrl',//modal对应的Controller
                resolve: {
                    data: function () {//data作为modal的controller传入的参数
                        return data;//用于传递数据
                    }
                }
            })
        }}
        ]
    );
    //模态框对应的Controller
    app.controller('modalCtrl', function ($scope, $modalInstance, data) {
        $scope.data = data;

        //在这里处理要进行的操作

        $scope.ok = function () {
            $modalInstance.close(data);
        };
        $scope.cancel = function () {
            $modalInstance.dismiss('cancel');
        }
    });

</script>
